body {
    font-family: sans-serif;
}

.container {
    width: 100%;
    max-width: 1140px;
    border: 1px solid red;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    background-color: white;
}
.secsaum {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    &.inicio {
        background-color: green;
        background-image: url(https://vasconoticias.com.br/media/fotos/vasco_libertadores_1998.jpg);
        background-size: cover;
        background-position: center;
    }
    &.sobre {
        background-color: blue;
        background-image: url(https://vasconoticias.com.br/media/fotos/vasco_libertadores_1998.jpg);
        margin: 10px;
        background-size: cover;
        background-position: center;
    }
    &.atividades {
        background-color: red;
    }
    &.contato {
        background-color: yellowgreen;
    }
    
}

.faixa {
    background-color: rgb(255, 255, 255,0.8);
}